body {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    background-image: linear-gradient(90deg, #333333, #101010);
    font-family: 'Inika', 'Courier New', Courier, monospace;
}
.box {
    margin-bottom: 10em;
    background-color: #303030;
    border: 5px solid rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    
}
.centralBox {
    max-width: 50vw;
    padding: 1em;
    text-align: center;
}